@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Futura';
    src: url('../public/Futura/FuturaPTBold.otf') format('truetype');
}

:root {
    --index: calc(1vw + 1vh);
    --gap: calc(var(--index) * 10);
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
::-webkit-scrollbar {
    display: none;
}
body {
    background-image: url("../public/images/mainpage1.png");
    background-size: 100%;
    color: white;
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}
.hero{
    width: 100vw;
    position: absolute;
    z-index: -1;
}
.header {
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 0 8vw;
    max-width: 100%;
    overflow-x: hidden;
}
.main-header{
    bottom: 4vh;
    position: absolute;
}
.header .plan-button{
    position: absolute;
    display: flex;
    bottom: 4vh;
    right: calc(var(--index) * 5);
    background-color: #FF4400;
    color: black;
    font-family: Futura, sans-serif;
    letter-spacing: -1px;
    align-items: center;
    padding: 2.2vh 3vw;
    border-radius: 50px;
    font-size: calc(var(--index) * 0.8);

}
.plan-button img{
    padding-left: calc(var(--index) * 0.8);
    height: calc(var(--index)*1.3);
}
.plan-button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #FF4400;
    color: white;
    padding: 2vh 4.35vw;
}
.plan-button:hover img{
    display: none;
}
.main-header h1{
    /*position: absolute;*/
    font-size: calc(var(--index) * 5.3);
    font-family: Futura, sans-serif;
    width: min-content;
    line-height: .85;
    /*bottom: 4vh;*/
    letter-spacing: -0.4vw;
}
.header-1 {
    max-width: calc(var(--index) * 12);
    font-size: calc(var(--index) * 0.65);
    line-height: calc(var(--index) * 0.9);
    margin-bottom: calc(var(--index) * 0.5);
    font-weight: 300;
}
.header-2{
    right: 10vw;
    bottom: 50vh;
    position: absolute;
    text-align: right;
    max-width: calc(var(--index) * 10);
    font-size: calc(var(--index) * 0.65);
    line-height: calc(var(--index) * 0.9);
    margin-bottom: calc(var(--index) * 0.5);
}

.section{
    display: flex;
    padding: calc(var(--index) * 14) 0;
}
.section > *{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section__item{
    max-width: calc(var(--index) * 23);
    margin-bottom: var(--gap);
}
.text-block .text-block__h {
    font-size: calc(var(--index) * 3);
    font-family: Futura, sans-serif;
    line-height: .85;
    /*bottom: 4vh;*/
    letter-spacing: -0.4vw;
    text-align: right;

}
.text-block .text-block__h1 {
    font-size: calc(var(--index) * 3);
    font-family: Futura, sans-serif;
    color: #777B7E;
    line-height: .85;
    padding-top: calc(var(--index));
    letter-spacing: -0.4vw;
}
.section__right .text-block__p{
    padding-top: calc(var(--index)*5);
    font-size: calc(var(--index) * 0.8);
}
.section__left .text-block__p{
    color: #FF4400;
}
.section__left .text-block {
    padding-right: 25vw;
}
.section__right .join-button {
    margin-top: 5vh;
    margin-right: calc(var(--index) * 14.5);
    display: flex;
    /*bottom: 4vh;*/
    /*left: calc(var(--index) * 35);*/
    background-color: #FF4400;
    color: black;
    font-family: Futura, sans-serif;
    letter-spacing: -1px;
    align-items: center;
    padding: 2.2vh 2.7vw;
    border-radius: 50px;
    font-size: calc(var(--index) * 0.76);
}
.join-button img{
    padding-left: calc(var(--index) * 0.8);
    height: calc(var(--index)*1.3);
}
.join-button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #FF4400;
    color: white;
    padding: 2.1vh 4vw;
}
.join-button:hover img{
    display: none;
}

.text-block1 .text-block__h {
    font-size: calc(var(--index) * 2.5);
    font-family: Futura, sans-serif;
    line-height: .85;
    /*bottom: 4vh;*/
    letter-spacing: -0.4vw;

}
.text-block1 .text-block__h1 {
    font-size: calc(var(--index) * 2.5);
    font-family: Futura, sans-serif;
    color: #777B7E;
    line-height: .85;
    padding-top: calc(var(--index) * 0.2);
    letter-spacing: -0.4vw;
    padding-bottom: calc(var(--index) * 0.6);
}
.text-block1 .join-button {
    margin-top: 5vh;
    margin-right: calc(var(--index) * 11.5);
    display: flex;
    /*bottom: 4vh;*/
    /*left: calc(var(--index) * 35);*/
    background-color: #FF4400;
    color: black;
    font-family: Futura, sans-serif;
    letter-spacing: -1px;
    align-items: center;
    padding: 2.2vh 2.7vw;
    border-radius: 50px;
    font-size: calc(var(--index) * 0.76);
}
.join-button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #FF4400;
    color: white;
    padding: 2.1vh 4vw;
}
.join-button:hover img{
    display: none;
}
.categories{
    font-family: Futura, sans-serif;
    font-size: calc(var(--index) * 2.5);
    line-height: 1.3;
    text-align: right;
}
.categories li:hover{
    color: #FF4400;
    cursor: pointer;
}
.clean {
    margin-top: -20vh;
}
.bottom-header{
    margin-top: -50vh;
    font-size: calc(var(--index) * 2.5);
    font-family: Futura, sans-serif;
    line-height: 1.2;
    text-align: center;
    margin-bottom: -30vh;
}

 .text-block__p1{
    font-size: calc(var(--index) * 1);
    font-family: Futura, sans-serif;
    color: #777B7E;
}
.section-b .text-block__h4{
    font-size: calc(var(--index) * 2);
    font-family: Futura, sans-serif;
    line-height: .9;
    text-align: center;
    margin-top: 20vh;
}

.section-b .consult-button {

    margin: 15vh 7.5vw;
    display: flex;
    /*bottom: 4vh;*/
    /*left: calc(var(--index) * 35);*/
    background-color: #FF4400;
    color: black;
    font-family: Futura, sans-serif;
    letter-spacing: -1px;
    align-items: center;
    padding: 2.2vh 2.7vw;
    border-radius: 50px;
    font-size: calc(var(--index) * 0.76);
}
.section-b .consult-button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #FF4400;
    color: white;
    padding: 2.1vh 4vw;
}
.section-b .consult-button:hover img{
    display: none;
}
.section-b .consult-button img{
    padding-left: calc(var(--index) * 0.7);
    height: calc(var(--index)*1.3);
}
.section-b{
    display: flex;
    padding: calc(var(--index) * 14) 0;
    padding-bottom: 0;
}
.footer{
    margin-top: auto;
    z-index: 10;
    background-color: #FF4400;
    padding: 5vh 10vw;
}
.section-b > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-links img {
    height: calc(var(--index)*1.3);
}
.phone {
    padding-left: 20vw;
}
.socials{
    padding-left: 2vw;
}
.Toastify__toast-container {
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 9999;
}

/* Optional: Style for each toast */
.Toastify__toast {
    width: auto;
    margin: 0 auto;
    max-width: 600px; /* Adjust as needed */
}
